<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:as-theme/hero /-->
	<!-- wp:as-theme/dark-section /-->
	<!-- wp:pattern {"slug":"as-theme/about"} /-->
	<!-- wp:pattern {"slug":"as-theme/murmlo"} /-->
	<!-- wp:as-theme/portfolio /-->
	<!-- wp:as-theme/testimonials /-->
	<!-- wp:pattern {"slug":"as-theme/services"} /-->
	<!-- wp:pattern {"slug":"as-theme/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->